html{
    min-height:100%;
    background: linear-gradient(#fff, #0000cc);
}

body {
    font-weight: bold;
    text-align: center;
}

table{
    table-layout: fixed;
    border: 1px solid black;
    background-color: #e6ecff;
}

table, th, td {
    padding: 15px;
    color:black;
}

.box{
    border: 1px solid black;
    background-color: #e6ecff;
}

.box[data-state=box-header]{
    border: 2px solid;
    background-color: aquamarine;
}

.box[data-state=invisible-box]{
    border: none;
    background-color: #e6ecff;
}

.box[data-state=empty-not-hit]{
    cursor: url(icons/cursor.png), pointer;
}

.box[data-state=ship-not-hit]{
    background-color: #99CCCC;
    background-image: url(icons/ship.png);
    cursor: url(icons/cursor2.png), pointer; 
}

.box[data-state=ship-not-hit]:hover{
    background-color: #CCFF66;
}