html{
    min-height:100%;
    background: linear-gradient(#fff, #0000cc);
}

body {
    font-weight: bold;
    text-align: center;
}

table{
    table-layout: fixed;
    border: 1px solid black;
    background-color: #e6ecff;
}

table, th, td {
    padding: 15px;
    color:black;
}

[data-state=box-header]{
    background-color: aquamarine;
    border: 2px solid;
}
[data-state=box-header]:hover{
    cursor: 
}

[data-state=invisible-box]{
    border: none;
    background-color: #e6ecff;
}

[data-state=basic-box]{
    border: 1px solid black;
    background-color: #e6ecff;
}

/* todo: use kebab case */
[data-state=empty-box]:hover{
   cursor: pointer; 
}
/* todo: use kebab case */
[data-state=not-empty-box]:hover{
    cursor: not-allowed;
 }
